.nav-link {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-link:hover {
  color: #facc15; 
}

.nav-link.active {
  font-weight: bold;
  color: #facc15;
  border-bottom: 2px solid #facc15;
}
